<!DOCTYPE html>
<html>
<head>
    <TITLE>404</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-page">
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </div>
    
</body>

</html>
