<!DOCTYPE html>
<html>
<head>
    <title>YGO</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-page">
        {{>header}}
        <p>Use this site to get your YGO card!</p>
    </div>


    {{>footer}}
    
</body>

</html>
